{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_comment/comment_section

    Moodle comment section template.

    The purpose of this template is to render the structure of a comment section, i.e. the location of the comment form
    and comment list.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-commentlist
    * data-commentform

    Context variables required for this template:
    * startatbottom Boolean specifying whether the comment form is below the comment list
    * Comment section as exported by core_comment\external\comment_section_exporter.php

    Example context (json):
    {
        "startatbottom": false,
        // TODO fill with example section
    }
}}
<div class="core_comment_comment_section"
     {{#fillheight}}style="height: 100%; display: flex; flex-flow: column nowrap;"{{/fillheight}}>
    {{#startatbottom}}
        <div data-commentlist {{#fillheight}}style="flex: 1 1 1px; overflow-y: auto;"{{/fillheight}}></div>
        <div data-commentform {{#fillheight}}style="flex: 0 1 auto;"{{/fillheight}}></div>
    {{/startatbottom}}
    {{^startatbottom}}
        <div data-commentform {{#fillheight}}style="flex: 0 1 auto;"{{/fillheight}}></div>
        <div data-commentlist {{#fillheight}}style="flex: 1 1 1px; overflow-y: auto;"{{/fillheight}}></div>
    {{/startatbottom}}
</div>