{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_comment/comment_form

    Moodle comment form component template.

    The purpose of this template is to render a form for creating or updating a comment or reply.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * canpost Boolean specifying whether the user can post comments here
    * cancancel Boolean specifying whether the form can be cancelled
    * allowpseudonym Boolean specifying whether the user may use a pseudonym
    * allowrealname Boolean specifying whether the user may use their real name
    * comment Comment to be edited as exported by core_comment\external\comment_exporter.php (optional)
    * replyto Comment that this is a reply to as exported by core_comment\external\comment_exporter.php (optional)

    Example context (json):
    {
        "canpost": true,
        "cancancel": true,
        "allowpseudonym": true,
        "allowrealname": true,
        "comment": {
            // TODO fill with example comment
        },
        "replyto": {
            // TODO fill with example comment
        }
    }
}}
<div class="core_comment_comment_form {{#comment}}update-existing{{/comment}}{{^comment}}new-comment{{/comment}} {{#replyto}}reply{{/replyto}}">
    {{#canpost}}
        <form class="mform comment-form">
            {{#allowpseudonym}}
                <div class="form-check comment-pseudonymous-input">
                    <input id="pseudonymToggle{{uniqid}}" type="checkbox"
                           {{#comment.pseudonymous}}checked disabled{{/comment.pseudonymous}}
                           {{^comment}}{{^allowrealname}}checked disabled{{/allowrealname}}{{/comment}}
                           name="pseudonymous" class="form-check-input">
                    <label for="pseudonymToggle{{uniqid}}"> {{# str }} hiderealname, core_comment {{/ str }}</label>
                    <a class="btn btn-link {{#comment.pseudonymous}}disabled{{/comment.pseudonymous}} p-0" role="button"
                        data-container="body" data-toggle="popover" data-html="true" tabindex="0" data-trigger="focus"
                        data-content="{{#cleanstr}} hiderealnamehelp, core_comment, {{#str}} pseudonymous, core_comment {{/str}}{{/cleanstr}}">
                        {{#pix}}help, core, {{/pix}}
                    </a>
                </div>
            {{/allowpseudonym}}
            <div class="form-group comment-content-input">
                <label for="contentInput{{uniqid}}" class="sr-only">{{# str }} content, core_comment {{/ str }}</label>
                <div id="responsiveTextArea{{uniqid}}" class="responsive-textarea">
                    <textarea id="contentInput{{uniqid}}" placeholder="{{!
                              }}{{#replyto}}{{# str }} writeareply, core_comment {{/ str }}{{/replyto}}{{!
                              }}{{^replyto}}{{# str }} writeacomment, core_comment {{/ str }}{{/replyto}}"
                              class="form-control" name="content" required>{{#comment}}{{contentraw}}{{/comment}}</textarea>
                    <div class="form-control"></div>
                </div>
            </div>
            <div class="comment-form-controls">
                <input type="submit" class="btn btn-primary" value="{{!
                    }}{{#comment}}{{!
                    }}{{^replyto}}{{# str }} updatecomment, core_comment {{/ str }}{{/replyto}}{{!
                    }}{{#replyto}}{{# str }} updatereply, core_comment {{/ str }}{{/replyto}}{{!
                    }}{{/comment}}{{^comment}}{{!
                    }}{{^replyto}}{{# str }} postcomment, core_comment {{/ str }}{{/replyto}}{{!
                    }}{{#replyto}}{{# str }} postreply, core_comment {{/ str }}{{/replyto}}{{!
                    }}{{/comment}}">
                {{#cancancel}}
                    <input type="button" data-cancelcommentform class="btn btn-secondary" value="{{# str }} cancel, core {{/ str }}">
                {{/cancancel}}
            </div>
        </form>
    {{/canpost}}
</div>
{{#js}}
    require(['theme_boost/responsive-textarea'], function({responsiveTextArea}) {
        const el = document.getElementById("responsiveTextArea{{uniqid}}");
        if (el) {
            responsiveTextArea(el);
        }
    });
{{/js}}
