{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_comment/comment

    Moodle comment template.

    The purpose of this template is to render a single comment, without its replies.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-commentbody
    * data-commentreplies
    * data-commentreplyform

    Context variables required for this template:
    * isediting Boolean specifying whether the comment is being edited
    * showreplies Boolean specifing whether replies are displayed
    * showreplyform Boolean specifing whether the reply form is displayed
    * showsettings Boolean specifying whether the settings menu should be shown
    * showitemlink Boolean specifying whether a link to the context where the comment was posted should be shown
    * wasmodified Boolean specifying whether this comment was modified
    * Comment as exported by core_comment\external\comment_exporter.php

    Example context (json):
    {
        "isediting": false,
        "showreplies": false,
        "showreplyform": false,
        "showsettings": true,
        "showitemlink": false,
        "wasmodified": false,
        // TODO fill with example comment
    }
}}
<div class="core_comment_comment {{#pseudonym}}pseudonymous{{/pseudonym}}">
    {{#showitemlink}}
        <div class="comment-item-link">
            <div data-commentitemlink="{{id}}"></div>
        </div>
    {{/showitemlink}}
    <div class="comment-row">
        <div class="comment-avatar">
            {{{avatar}}}
        </div>
        <div class="comment-container">
            <div class="comment-header">
                <div data-commentheader="{{id}}"></div>
            </div>

            <div class="comment-body">
                {{#isediting}}
                    <div data-commenteditform="{{id}}"></div>
                {{/isediting}}
                {{^isediting}}
                    <div data-commentbody="{{id}}"></div>
                {{/isediting}}
            </div>

            <div class="comment-footer">
                {{#canreply}}
                    <a href="#" data-showreplyform="{{id}}">{{# str }} reply, core_comment {{/ str }}</a>
                {{/canreply}}
                {{#replies}}
                    <span class="comment-replies-control">
                        {{^showreplies}}
                            <a href="#" data-showreplies="{{id}}">▼ {{ replies }} {{# str }} nreplies, core_comment {{/ str }}</a>
                        {{/showreplies}}
                        {{#showreplies}}
                            <a href="#" data-hidereplies="{{id}}">▲ {{ replies }} {{# str }} nreplies, core_comment {{/ str }}</a>
                        {{/showreplies}}
                    </span>
                {{/replies}}
            </div>

            {{#showreplies}}
                <div class="comment-replies-box">
                    <div data-commentreplies="{{id}}"></div>
                </div>
            {{/showreplies}}
            {{#showreplyform}}
                <div class="comment-reply-box">
                    <div data-commentreplyform="{{id}}"></div>
                </div>
            {{/showreplyform}}
        </div>
    </div>
</div>