.core_comment_comment_section {

    .comment-section-list {
        overflow-y: auto;
        display: flex;
        flex-flow: column;
    }
    .comment-section-form {
        margin: 0 0 1em 0;
    }

    &.start-at-bottom {
        .comment-section-list {
            flex-flow: column-reverse;
        }
        .comment-section-form {
            margin: .5em 0 0 0;
        }
    }

    &.fill-height {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        .comment-section-list {
            flex: 1 1 1px;
        }

        .comment-section-form {
            flex: 0 1 auto;
        }
    }
}

.core_comment_comment .comment-row {
    display: flex;
    flex-flow: row;
    position: relative;

    .comment-avatar {
        flex-grow: 0;
        margin-right: .5em;
    }

    .comment-container {
        flex-grow: 1;
        overflow: hidden;

        .comment-footer .comment-replies-control {
            display: inline-block;
        }

        .comment-reply-box {
            margin-top: .5em;
        }
    }
}

.core_comment_comment_header {
    display: flex;
    flex-flow: row nowrap;

    .comment-header-left {
        flex-grow: 1;
    }
    .comment-header-right {
        flex-grow: 0;
    }
    .comment-timecreated {
        display: inline-block;
    }
}

.core_comment_comment_list {

    .core_comment_comment {
        margin: 2em 0 2em 0;
    }

    .comment-list-comments {
        margin: -1em 0 -1em 0;
    }

    .core_comment_comment_highlight {
        margin: 2em 0 0 0;

        .core_comment_comment {
            margin: .5em 0 1em 0;
        }

        .core_comment_comment_list.replies {
            margin-bottom: -1em;
        }
    }

    &.start-at-bottom {
        .core_comment_comment_highlight {
            margin: 0 0 2em 0;
        }
    }

    &.replies {
        .core_comment_comment {
            margin: 1em 0 1em 0;
        }
        .highlighted-comment {
            margin-top: 1em;

            .core_comment_comment {
                margin: .5em 0 1em 0;
            }
        }
    }
}

.core_comment_comment_body {
    overflow-x: auto;

    .comment-content {
        white-space: pre-wrap;
    }
}

.core_comment_comment_form .comment-form-controls input {
    margin: 0 .5em .5em 0;
}

@media (max-width: 495px) {

    .core_comment_comment {
        .comment-avatar {
            display: none;
        }
        .comment-header, .comment-body, .comment-footer {
            padding-left: 1em;
        }
    }

    .core_comment_comment_form .comment-form-controls input {
        width: 100%;
    }
}

.modal.core_comment_modal_comment_section {
    height: 100%;

    &.show {
        display: flex;
    }

    .modal-dialog {
        display: flex;
        width: 100%;

        .modal-content {
            display: flex;

            .modal-header {
                flex: 0 1 auto;
            }
            .modal-body {
                flex: 1 1 1px;
            }
            .modal-footer {
                flex: 0 1 auto;
            }
        }
    }

    .core_comment_comment_form .comment-form-controls {
        text-align: right;
        margin-bottom: 0;
    }
}